.box-title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
}
.box-title h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: rgba(0, 0, 0, 0.87);
}
.box-title h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.87);
}
.box-title h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
}
