.box-title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: rgba(0, 0, 0, 0.87);
}
.box-title h5 {
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: rgba(0, 0, 0, 0.87);
}